{% extends './cosbeauty_base.html' %}
{% block title %}COSBEAUTY{% endblock %}
{% block seo_tag %}
    <meta name="description" content="COSBEAUTY">
    <meta name="keywords" content="COSBEAUTY" />
    <link rel="canonical" href="{% url 'cosbeauty_home' %}" />
{% endblock %}
{% block meta_tag %}
    <meta property="og:title" content="COSBEAUTY">
    <meta property="og:description" content="COSBEAUTY">
    <meta property="og:image" content="{{obj.Logo}}">
    <meta property="og:image:secure_url" content="{{obj.Logo}}">
    <meta property="og:url" content="{% url 'cosbeauty_home' %}">
{% endblock %}
{% block content %}
<main class=" flex flex-col items-center w-full ">
    <div class="w-full px-[0px] lg:px-[100px] py-[20px]">
        <div class="w-full flex flex-col justify-center items-center gap-[30px] text-[#252E68]">
            <h1 class="font-normal text-[18px] uppercase">
                {% if lg == 'VI' %}
                    Các thương hiệu đối tác
                {% else %}
                    Partner brands
                {% endif %}
            </h1>
            <img width="174px" src="/upload/trademark.png" />
            <div class="flex lg:hidden items-center justify-center w-full">
                <a href="https://hydrinity.com.vn" target="_blank" class="px-2 py-1 bg-[#252E68] text-white uppercase rounded">
                    {% if lg == 'VI' %}
                        TÌM HIỂU THÊM VỀ THƯƠNG HIỆU
                    {% else %}
                        LEARN MORE ABOUT THE BRAND
                    {% endif %}
                </a>
            </div>
            <h2 class="uppercase font-normal lg:font-medium text-[18px] lg:text-[25px] lg:mb-3">
                {% if lg == 'VI' %}
                    Tiêu điểm
                {% else %}
                    FOCUS
                {% endif %}
            </h2>
            <!-- <div class="hidden lg:flex w-full relative px-[100px]">
                <div class="swiper mySwiper w-full">
                    <div class="swiper-wrapper uppercase font-medium text-[20px]">
                        <div class="swiper-slide flex flex-col items-center justify-between">
                            <img alt="img" class="h-auto  w-full" alt="banner" src="/upload/Rectangle-72.png" />
                            <p class=" w-full text-center mt-[10px]">FONT ROBOTO MEDIUM KÍCH THƯỚC 20PT - CĂN GIỮA</p>
                        </div>
                        <div class="swiper-slide flex flex-col items-center justify-between">
                            <img alt="img" class="h-auto  w-full" alt="banner" src="/upload/Rectangle-72.png" />
                            <p class=" w-full text-center mt-[10px]">FONT ROBOTO MEDIUM KÍCH THƯỚC 20PT - CĂN GIỮA</p>
                        </div>
                        <div class="swiper-slide flex flex-col items-center justify-between">
                            <img alt="img" class="h-auto  w-full" alt="banner" src="/upload/Rectangle-72.png" />
                            <p class=" w-full text-center mt-[10px]">FONT ROBOTO MEDIUM KÍCH THƯỚC 20PT - CĂN GIỮA</p>
                        </div>
                        <div class="swiper-slide flex flex-col items-center justify-between">
                            <img alt="img" class="h-auto  w-full" alt="banner" src="/upload/Rectangle-72.png" />
                            <p class=" w-full text-center mt-[10px]">FONT ROBOTO MEDIUM KÍCH THƯỚC 20PT - CĂN GIỮA</p>
                        </div>
                        <div class="swiper-slide flex flex-col items-center justify-between">
                            <img alt="img" class="h-auto  w-full" alt="banner" src="/upload/Rectangle-72.png" />
                            <p class=" w-full text-center mt-[10px]">FONT ROBOTO MEDIUM KÍCH THƯỚC 20PT - CĂN GIỮA</p>
                        </div>
                        <div class="swiper-slide flex flex-col items-center justify-between">
                            <img alt="img" class="h-auto  w-full" alt="banner" src="/upload/Rectangle-72.png" />
                            <p class=" w-full text-center mt-[10px]">FONT ROBOTO MEDIUM KÍCH THƯỚC 20PT - CĂN GIỮA</p>
                        </div>
                    </div>
                </div>
                <div class="swiper-button-prev absolute top-1/2 -translate-y-1/2 -left-10 z-10 min-w-[77px]">
                    <svg width="77" height="77" viewBox="0 0 77 77" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M35.6562 26.125L23.2812 38.5M23.2812 38.5L35.6562 50.875M23.2812 38.5H54.2188M75.875 38.5C75.875 43.3753 74.9147 48.2029 73.049 52.7071C71.1833 57.2113 68.4487 61.304 65.0013 64.7513C61.554 68.1987 57.4613 70.9333 52.9571 72.799C48.4529 74.6647 43.6253 75.625 38.75 75.625C33.8747 75.625 29.0471 74.6647 24.5429 72.799C20.0387 70.9333 15.946 68.1987 12.4987 64.7513C9.05128 61.304 6.31668 57.2113 4.45097 52.7071C2.58527 48.2029 1.625 43.3753 1.625 38.5C1.625 28.6538 5.53637 19.2109 12.4987 12.2487C19.4609 5.28637 28.9038 1.375 38.75 1.375C48.5962 1.375 58.039 5.28637 65.0013 12.2487C71.9636 19.2109 75.875 28.6538 75.875 38.5Z" stroke="#252E68" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                </div>
                <div class="swiper-button-next absolute top-1/2 -translate-y-1/2 -right-10 z-10 min-w-[77px]">
                    <svg width="77" height="77" viewBox="0 0 76 77" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M41.0625 50.9582L53.3125 38.623M53.3125 38.623L41.0625 26.2878M53.3125 38.623H22.6875M74.75 38.623C74.75 43.4827 73.7994 48.2947 71.9526 52.7845C70.1057 57.2742 67.3987 61.3537 63.9862 64.79C60.5736 68.2263 56.5223 70.9521 52.0636 72.8118C47.6049 74.6715 42.8261 75.6287 38 75.6287C33.1739 75.6287 28.3951 74.6715 23.9364 72.8118C19.4777 70.9521 15.4264 68.2263 12.0138 64.79C8.60127 61.3537 5.89429 57.2742 4.04743 52.7845C2.20057 48.2947 1.25 43.4827 1.25 38.623C1.25 28.8085 5.12186 19.3959 12.0138 12.456C18.9058 5.51611 28.2533 1.61731 38 1.61731C47.7467 1.61731 57.0942 5.51611 63.9862 12.456C70.8781 19.3959 74.75 28.8085 74.75 38.623Z" stroke="#252E68" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                </div>
                <script>
                    const swiper = new Swiper(".mySwiper", {
                        slidesPerView: 1,
                        spaceBetween: 16,
                        navigation: {
                        nextEl: ".swiper-button-next",
                        prevEl: ".swiper-button-prev",
                        },
                        breakpoints: {
                        1024: {
                            slidesPerView: 4,
                        },
                        768: {
                            slidesPerView: 2,
                        },
                        },
                    });
                </script>
                <style>
                    /* Tắt icon mặc định của Swiper */
                    .swiper-button-next::after,
                    .swiper-button-prev::after {
                    display: none;
                    }
                </style>
            </div> -->
            <div class="grid lg:hidden grid-cols-2 px-[80px] gap-[30px] font-medium text-[10px] lg:text-[20px]">
                {% for i  in list_BlogPost|slice:":4" %}
                <a href="{% url 'cosbeauty_story_detail' slug=i.Slug %}" class="swiper-slide flex flex-col items-center justify-between">
                    {% if i.Avatar %}
                    <img alt="img" class="h-auto  w-full" alt="banner" src="{{ i.Avatar.url }}" />
                    {% else %}
                    <img alt="img" class="h-auto  w-full" alt="banner" src="/upload/Rectangle-72.png" />
                    {% endif %}
                    <p class=" w-full text-center mt-[10px]">
                        {% if lg == 'VI' %}
                            {{i.Title}}
                        {% else %}
                            {{i.Title_EN}}
                        {% endif %}
                    </p>
                </a>
                {% endfor %}
            </div>
            <div class="flex lg:hidden items-center justify-center w-full text-[14px]">
                <a href="{% url 'cosbeauty_see_all' %}" class="px-2 py-1 bg-[#252E68] text-white uppercase rounded">
                    {% if lg == 'VI' %}
                        Xem tất cả
                    {% else %}
                        See all
                    {% endif %}
                </a>
            </div>
        </div>
    </div>
</main>
{% endblock %}