{% extends './cosbeauty_base.html' %}
{% block title %}COSBEAUTY{% endblock %}
{% block seo_tag %}
    <meta name="description" content="COSBEAUTY">
    <meta name="keywords" content="COSBEAUTY" />
    <link rel="canonical" href="{% url 'cosbeauty_home' %}" />
{% endblock %}
{% block meta_tag %}
    <meta property="og:title" content="COSBEAUTY">
    <meta property="og:description" content="COSBEAUTY">
    <meta property="og:image" content="/upload/LGOO.png">
    <meta property="og:image:secure_url" content="/upload/LGOO.png">
    <meta property="og:url" content="{% url 'cosbeauty_home' %}">
{% endblock %}
{% block content %}
<main class=" flex flex-col items-center w-full lg:mt-[203px]">
    <div class="w-full">
        {% if obj1.Media %}
            {% if ".mp4" in obj1.Media.url|lower %}
                <video controls autoplay muted loop playsinline class="w-full h-auto">
                    <source src="{{ obj1.Media.url }}" type="video/mp4">
                    Trình duyệt không hỗ trợ video.
                </video>
            {% else %}
                <img alt="Media" src="{{ obj1.Media.url }}" class="w-full h-auto" />
            {% endif %}
        {% else %}
            <a class="w-full">
                <img src="/upload/Rectangle-71.png" class="w-full" />
            </a>
        {% endif %}
        <!-- <a class="w-full">
            <video class="w-full" autoplay muted loop playsinline>
                <source src="/upload/2849-163375551_large.mp4" type="video/mp4" />
                Trình duyệt của bạn không hỗ trợ video.
            </video>
        </a> -->
    </div>
    <div class="w-full flex flex-col justify-center items-center  lg:px-[100px] py-[20px] lg:py-[50px]">
        <div class="w-full flex flex-col justify-center items-center px-[50px] gap-[30px] text-[#252E68]">
            <div class="flex flex-col justify-center items-center py-[0px] lg:py-[50px]">
                <h2 class="uppercase font-medium text-[18px] lg:text-[30px] my-3">
                    {% if lg == 'VI' %}
                        Về chúng tôi
                    {% else %}
                        About us
                    {% endif %}
                </h2>
                <span class="font-normal italic text-[15px] lg:text-[20px] w-full lg:w-[614px] text-center border-[1px]  border-[#252E68] p-5">
                    {% if lg == 'VI' %}
                        {{obj1.Content1}}
                    {% else %}
                        {{obj1.Content1_EN}}
                    {% endif %}
                </span>
                <span class="font-normal italic text-[15px] lg:text-[20px] w-full lg:w-[930px] text-center mt-[30px] border-[1px]  border-[#252E68] p-5">
                    {% if lg == 'VI' %}
                        {{obj1.Content2}}
                    {% else %}
                        {{obj1.Content2_EN}}
                    {% endif %}
                </span>
            </div>
            <div class="flex flex-col lg:flex-row gap-[30px] lg:gap-[50px] w-full lg:w-[1250px] h-auto lg:h-[800px]">
                <div class="flex flex-col gap-[15px] lg:gap-[50px] w-full lg:w-[50%] h-full">
                    {% if obj1.Media3 %}
                        {% if ".mp4" in obj1.Media3.url|lower %}
                            <video controls autoplay muted loop playsinline class="w-full h-auto">
                                <source src="{{ obj1.Media3.url }}" type="video/mp4">
                                Trình duyệt không hỗ trợ video.
                            </video>
                        {% else %}
                            <img alt="Media" src="{{ obj1.Media3.url }}" class="w-full h-full object-cover max-h-[800px]" />
                        {% endif %}
                    {% else %}
                        <img src="/upload/Rectangle-71.png" class="w-full h-full object-cover max-h-[800px]" />
                    {% endif %}
                    <p class=" lg:hidden w-full h-auto lg:h-[90px] font-medium text-[15px] lg:text-[20px] border-[1px]  border-[#252E68] p-5">
                        {% if lg == 'VI' %}
                            {{obj1.Content3}}
                        {% else %}
                            {{obj1.Content3_EN}}
                        {% endif %}
                    </p>
                </div>
                <div class="w-full lg:w-[50%] h-full flex flex-col gap-[15px] lg:gap-[50px] text-[#252E68]">
                    {% if obj1.Media4 %}
                        {% if ".mp4" in obj1.Media4.url|lower %}
                            <video controls autoplay muted loop playsinline class="w-full h-auto">
                                <source src="{{ obj1.Media4.url }}" type="video/mp4">
                                Trình duyệt không hỗ trợ video.
                            </video>
                        {% else %}
                            <img alt="Media" src="{{ obj1.Media4.url }}" class="w-full h-full object-cover max-h-[350px]" />
                        {% endif %}
                    {% else %}
                        <img src="/upload/Rectangle-71.png" class="w-full h-full object-cover max-h-[350px]" />
                    {% endif %}
                    <p class="hidden lg:block w-full h-auto lg:h-[90px] font-medium text-[15px] lg:text-[20px] border-[1px]  border-[#252E68] p-5">
                        {% if lg == 'VI' %}
                            {{obj1.Content3}}
                        {% else %}
                            {{obj1.Content3_EN}}
                        {% endif %}
                    </p>
                    <p class="w-full h-auto lg:h-[292px] font-normal text-[15px] lg:text-[20px] border-[1px]  border-[#252E68] p-5">
                        {% if lg == 'VI' %}
                            {{obj1.Content4}}
                        {% else %}
                            {{obj1.Content4_EN}}
                        {% endif %}
                    </p>
                </div>
            </div>
            <div class="grid grid-cols-1 lg:grid-cols-2 w-full lg:w-[1100px] gap-[50px] lg:gap-[100px] py-[20px] lg:py-[50px]">
                {% for i in list_commit %}
                <div class="relative flex justify-center w-full h-[500px]">
                    <img src="{{i.Media.url}}" class="w-full h-full object-cover" />
                    <div class="absolute inset-0 flex flex-col gap-1 w-full  h-full p-[20px] lg:p-[50px] justify-end">
                        <h3 class="font-medium text-[14px] lg:text-[24px] text-[#252E68] uppercase ">
                            {% if lg == 'VI' %}
                                {{i.Title}}
                            {% else %}
                                {{i.Title_EN}}
                            {% endif %}
                        </h3>
                        <p class=" w-full h-auto  font-normal italic  text-[10px] lg:text-[15px] border-[1px]  border-[#252E68] p-5 overflow-y-auto">
                            {% if lg == 'VI' %}
                                {{i.Content}}
                            {% else %}
                                {{i.Content_EN}}
                            {% endif %}
                        </p>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="flex flex-col text-[#252E68] gap-[20px] py-[20px] lg:py-[0px]">
            <div class="flex flex-col justify-center items-center">
                <h2 class="uppercase font-medium text-[18px] lg:text-[30px] my-3 text-center">
                    {% if lg == 'VI' %}
                        Các thương hiệu đối tác
                    {% else %}
                        PARTNER BRANDS
                    {% endif %}
                </h2>
                <span class="font-light italic text-[14px] lg:text-[20px] text-center px-[50px]">
                    Text Font ROBOTO Light italic Kích thước 20pt - Căn giữa
                </span>
            </div>
            <div class="grid grid-cols-2 lg:grid-cols-5 w-full lg:w-[800px] gap-[20px] px-[80px] lg:px-[50px]">
                {% for i in list_Edit_dsdt_mb %}
                <a class=" flex justify-center items-center w-full">
                    <img class="w-full" alt="Trademark" src="{% if i.Photo %}{{ i.Photo.url }}{% endif %}">
                </a>
                {% endfor %}
            </div>
        </div>
    </div>
</main>
{% endblock %}