{% extends './base.html' %}
{% block title %}Trang thay đổi thông tin Trang chủ{% endblock %}
{% block content %}
<div class="w-full flex-col ">
    <div class="flex items-center justify-between border-b-[1px] border-[#0e203c] max-h-[50px] px-3 py-2 font-bold">
        <span class="uppercase w-full flex justify-center lg:justify-start">
            Trang thay đổi thông tin Trang chủ
        </span>
        <style>
            input:focus {
                outline: none !important;
            }
        </style>

    </div>
    <div class="flex flex-col gap-3 p-3">
        <div class="flex flex-col gap-1">
            <span href="{% url 'cosbeauty_home' %}" class="font-semibold text-[18px] hover:underline">
                1.Banner
            </span>
            <form method="post" action="{% url 'cosbeauty_change_home' %}" enctype="multipart/form-data" class="flex flex-col gap-2 lg:w-[50%] w-full">
                {% csrf_token %}
                <div class="flex flex-col lg:flex-row gap-5">
                    <div class="flex flex-col gap-2 w-full">
                        <!-- <span class="font-semibold">- Hình ảnh 1</span> -->
                        <div class="flex flex-col gap-1 w-full">
                            {% if obj.Media %}
                                {% if ".mp4" in obj.Media.url|lower %}
                                    <video controls autoplay muted loop playsinline class="w-full h-auto">
                                        <source src="{{ obj.Media.url }}" type="video/mp4">
                                        Trình duyệt không hỗ trợ video.
                                    </video>
                                {% else %}
                                    <img alt="Media" src="{{ obj.Media.url }}" class="w-full h-auto" />
                                {% endif %}
                            {% endif %}
                            <input type="file" class="rounded-md w-full" accept="image/*,video/*" name="file" />
                        </div>
                        <!-- <textarea name="Content3" class="autoresize rounded-md" placeholder="Nội dung 3">{{obj_Count_1.Content3|default:''}}</textarea> -->
                    </div>
                </div>
                <button type="submit" class=" flex justify-center items-center w-full p-2 rounded-md bg-green-500 font-semibold text-md hover:cursor-pointer">
                    Cập nhật
                </button>
            </form>
        </div>
    </div>
</div>
<script>
    $(document).ready(function() {
        $('.open_input_Size').on('click', function() {
            $('.input_Size').toggle(); // Bật nếu ẩn, ẩn nếu bật
        });
    });
</script>
<script>
    function autoResize(el) {
        el.style.height = 'auto';
        el.style.height = el.scrollHeight + 'px';
    }

    document.addEventListener('DOMContentLoaded', function () {
        document.querySelectorAll('textarea.autoresize').forEach(function (el) {
            autoResize(el);
            el.addEventListener('input', () => autoResize(el));
        });
    });
</script>
{% endblock %}